* {
    box-sizing: border-box;
}

html {
    background-color: hsl(190, 48%, 63%);
    color: hsla(240, 42.00%, 25.00%, 1);
    height: 100%;
    width: 100%;
    clip: auto;
    position: absolute;
    overflow: hidden;
}

body {
    overflow: none;
}

.viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 1536px;
    height: 842px;
    transform-origin: 0 0;
    overflow: hidden;
    font-size: 24px;
}

.viewport.portrait {
    width: 1024px;
    height: 1684px;
    font-size: 36px;
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 714px;
    background-image: url(assets/hills.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}

.peruacru {
    transition: transform 1s ease;
}

.peruacru.at-hills {
    transform: translate(0, 0);
}

.peruacru.at-jungle {
    transform: translate(0, -714px);
}

.peruacru.at-beach {
    transform: translate(-1024px, -714px);
}

.peruacru.at-mountain {
    transform: translate(-1024px, 0);
}

.hills {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 714px;
    width: 1024px;
    background-image: url(assets/hills.jpg);
}

.jungle {
    position: absolute;
    top: 714px;
    left: 0px;
    height: 714px;
    width: 1024px;
    background-image: url(assets/jungle.jpg);
}

.beach {
    position: absolute;
    top: 714px;
    left: 1024px;
    height: 714px;
    width: 1024px;
    background-image: url(assets/beach.jpg);
}

.mountain {
    position: absolute;
    top: 0px;
    left: 1024px;
    height: 714px;
    width: 1024px;
    background-image: url(assets/mountain.jpg);
}

.inventory {
    position: absolute;
    top: 714px;
    height: 128px;
    left: 0;
    width: 1024px;
}

.item {
    position: absolute;
    height: 128px;
    width: 128px;
    transform: scale(0.80);
    background-repeat: no-repeat;
}

.item-0 {
    left: calc((1024px - 128px * 4) / 5 * 1);
}

.item-0-1 {
    left: calc((1024px - 128px * 4) / 5 * 1.5 + 128px * 0.5);
}

.item-1 {
    left: calc((1024px - 128px * 4) / 5 * 2 + 128px);
}

.item-1-2 {
    left: calc(50% - 64px);
}

.item-2 {
    left: calc((1024px - 128px * 4) / 5 * 3 + 128px * 2);
}

.item-2-3 {
    left: calc((1024px - 128px * 4) / 5 * 3.5 + 128px * 2.5);
}

.item-3 {
    left: calc((1024px - 128px * 4) / 5 * 4 + 128px * 3);
}

.narrative {
    position: absolute;
    top: 0px;
    left: 1024px;
    height: 714px;
    width: 512px;
}

.narrative.portrait {
    top: 842px;
    left: 0px;
    height: 842px;
    width: 1024px;
}

.narrative.at-hills {
    /* color: hsl(45, 65%, 52%); */
}

.narrative.at-jungle {
    /* color: hsl(45, 65%, 52%); */
}

.narrative.at-beach {
    /* color: black; */
}

.narrative.at-mountain {
    /* color: white; */
}

.kni-frame {
    padding: 24px;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    overflow-y: scroll;
    transition: transform 1s ease, opacity 1s ease-out;
}

.kni-frame-a {
    display: table;
    height: 100%;
    width: 100%;
}

.kni-frame-b {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    width: 40ex;
}

.kni-frame-c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.kni-body {
    display: flex-item;
    flex: 0 1 auto;
    max-width: 60ex;
    text-align: justify;
}

th {
    vertical-align: top;
    padding-right: 1ex;
}

td {
    vertical-align: top;
    cursor: pointer;
}

/*
 * ITEMS
 */

.airplane {
    background-image: url(assets/airplane.png);
}

.giant-airplane {
    background-image: url(assets/giant-airplane.png);
}

.bamboo {
    background-image: url(assets/bamboo.png);
}

.ballista {
    background-image: url(assets/ballista.png);
}

.brine-pumpkin {
    background-image: url(assets/brine-pumpkin.png);
}

.brine-vial {
    background-image: url(assets/brine-vial.png);
}

.flower {
    background-image: url(assets/flower.png);
}

.freshwater-pumpkin {
    background-image: url(assets/freshwater-pumpkin.png);
}

.freshwater-vial {
    background-image: url(assets/freshwater-vial.png);
}

.growing-potion {
    background-image: url(assets/growing-potion.png);
}

.hammer {
    background-image: url(assets/hammer.png);
}

.mushroom {
    background-image: url(assets/mushroom.png);
}

.paper {
    background-image: url(assets/paper.png);
}

.pumpkin {
    background-image: url(assets/pumpkin.png);
}

.reed {
    background-image: url(assets/reed.png);
}

.rock {
    background-image: url(assets/rock.png);
}

.rubber {
    background-image: url(assets/rubber.png);
}

.sand-pumpkin {
    background-image: url(assets/sand-pumpkin.png);
}

.sap-pumpkin {
    background-image: url(assets/sap-pumpkin.png);
}

.shrinking-potion {
    background-image: url(assets/shrinking-potion.png);
}

.soaked-reed {
    background-image: url(assets/soaked-reed.png);
}

.vial {
    background-image: url(assets/vial.png);
}

/*
 * PROPS
 */

.homestead {
    position: absolute;
    width: 256px;
    height: 256px;
    background: url(assets/homestead.png) no-repeat;
    top: 128px;
    left: 128px;
    display: none;
}

.lion {
    position: absolute;
    width: 128px;
    height: 128px;
    background: url(assets/lion.png) no-repeat;
    top: 125px;
    left: calc(1024px + 350px);
    display: none;
}

.cat {
    position: absolute;
    width: 64px;
    height: 64px;
    background: url(assets/cat.png) no-repeat;
    top: 189px;
    left: calc(1024px + 320px);
    display: none;
}

/* TODO tap */
.tap {
}

.placed-ballista {
    position: absolute;
    width: 256px;
    height: 256px;
    background: url(assets/placed-ballista.png) no-repeat;
    top: 128px;
    left: 400px;
    display: none;
}

.launch-pad {
    position: absolute;
    width: 256px;
    height: 256px;
    background: url(assets/launch-pad.png) no-repeat;
    top: 128px;
    left: 400px;
    display: none;
}
