* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    clip: auto;
    position: absolute;
    overflow: hidden;
}

body {
    background-color: hsl(190, 48%, 63%);
    /* color: hsla(240, 42.00%, 25.00%, 1); */
    overflow: none;
}

.viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 714px;
    transform-origin: 0 0;
    overflow: hidden;
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 714px;
    background-image: url(assets/hills.jpg);
    background-repeat: no-repeat;
}

.peruacru {
    transition: transform 1s ease;
}

.peruacru.at-hills {
    transform: translate(0, 0);
}

.peruacru.at-jungle {
    transform: translate(0, -714px);
}

.peruacru.at-beach {
    transform: translate(-1024px, -714px);
}

.peruacru.at-mountain {
    transform: translate(-1024px, 0);
}

.hills {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 714px;
    width: 1024px;
    background-image: url(assets/hills.jpg);
}

.jungle {
    position: absolute;
    top: 714px;
    left: 0px;
    height: 714px;
    width: 1024px;
    background-image: url(assets/jungle.jpg);
}

.beach {
    position: absolute;
    top: 714px;
    left: 1024px;
    height: 714px;
    width: 1024px;
    background-image: url(assets/beach.jpg);
}

.mountain {
    position: absolute;
    top: 0px;
    left: 1024px;
    height: 714px;
    width: 1024px;
    background-image: url(assets/mountain.jpg);
}

.narrative {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 714px;
    width: 1024px;
}

.narrative.at-hills {
    color: hsl(45, 65%, 52%);
}

.narrative.at-jungle {
    color: hsl(45, 65%, 52%);
}

.narrative.at-beach {
    color: black;
}

.narrative.at-mountain {
    color: white;
}

.kni-frame {
    font-size: 24px;
    padding: 24px;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    overflow-y: scroll;
    transition: transform 1s ease, opacity 1s ease-out;
}

.kni-frame-a {
    display: table;
    height: 100%;
    width: 100%;
}

.kni-frame-b {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    width: 40ex;
}

.kni-frame-c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.kni-body {
    display: flex-item;
    flex: 0 1 auto;
    max-width: 40ex;
    text-align: justify;
}

th {
    vertical-align: top;
    padding-right: 1ex;
}

td {
    vertical-align: top;
    cursor: pointer;
}

